@model my_project.Models.memory
<h2>create</h2>
<div class="top"></div>
<div class="wrapper">
	<div class="logo"><div class="logo_text"><h1>Our</h1><h2>Memories</h2></div></div>
	<div class="nav fl">
			<ul>			
			<li>@Html.ActionLink("Home","Index","Home")</li>            
            <li>@Html.ActionLink("View All","mainpage", "user")</li>			
			</ul>
		</div>
		<div class="clear"></div>            
			<br />        
		</div>
		<div class="sep2"></div>
		<div class="clear"></div>				
	<!--<div class="special_sep"></div>	-->	
	 <div class="columnRight" style="padding-left: 40px">
    <!--Form-------------------------------------------------------------------
         @using (Html.BeginForm("saveText", "user", FormMethod.Post))
         {
         }
        -->
            <div class ="selected" size="30" ><h6> Start Saving your Memories </h6> </div>						                			               
             <div style="margin:0;padding:0;display:inline"></div>
             <!--Html.TextArea("t1", new { rows = "5", columns = "30", placeholder = "Start Writing your Memories" }); -->
             <!--Html.TextBoxFor(x => x.memories, new { placeholder = "Start Writing your Memories", size = "60px" }); -->
           
             <!--<input type="text" name="memories" placeholder="Start Writing your Memories" size="80" style="border:groove" / 
             <label style="font-size:medium"> Add New Memory</label><br />                          
             Html.Label("Add new memory ", new {placeholder="Add New Memory"});
             <br />
             <textarea id="t1" rows="4" cols="100"  name="memory" placeholder="Start Writing Your Memories" style="background-color:ThreeDLightShadow"></textarea> 
             <br />
             <button type="submit" style="width:300px" class="selected">Save in Memory Book </button> 
                                                             
          }
                 -->
         <div class="sep2"></div>
		<div class="clear"></div>				
       <!--  using (Html.BeginForm("saveImage", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
         {
           -->
         <form action="../user/saveData" method="post" enctype="multipart/form-data" >
             <!-- Html.Label("Add an Image",new{label="Add an image",});             -->
             <input type="text" id="text1" name="topic" placeholder="Write Title " style="background-color:orange" /> 
             <br />
             <input type="text" id="text2" size="160" name="description" placeholder="Write Description here " style="background-color:orange" /> 
             <!--<textarea id="t1" rows="4" cols="100"  name="description" placeholder="Start Writing Your Memories" style="background-color:ActiveBorder"></textarea>  -->
             <br />
             <br />
             <label style="font-size:medium"> Upload An Image</label><br />                          
             <input type="file" name="source" accept="image/*" id="f1" style="width:220px" "border-bottom-style:groove"  />   
             <button type="Submit" style="width:300px" class="selected">Save Memories</button>
             <script>

             </script>
         </form>
	 </div>    
    
                  