@{
    Layout = null;
}
<html>
    <head>
        <title> login</title>
        <script src="~/Scripts/bootstrap.js"></script>
        <script src="~/Scripts/JavaScript2.js"></script>
        <link href="~/Content/login.css" rel="stylesheet" />
        </head>
        <body>

        
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pr-wrap">
                <div class="pass-reset">                                      
                </div>
            </div>
            <div class="wrap">
                <p class="form-title">
                    Sign In</p>
                <form class="login" action="~/Home/login" method="post">
                <input type="text" name="name" placeholder="Username" />
                <input type="password" name="password" placeholder="Password" />
                <input type="submit" value="Sign In" class="btn btn-success btn-sm" />                                
                </form>
                <br />
                <br />
                 <form accept-charset="UTF-8" action="~/User/signup" method="post">
                                   <button class="btn btn-warning" style="border-bottom-color:blue " type="submit">Sign up </button>
                </form>
            </div>
        </div>
    </div>
    <div class="posted-by">Powered By: TECHNORATES</div>
</div>
</body>
    </html>

